@model IEnumerable<cspWeb.Models.Service>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SubscriptionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SubscriptionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @{
                string subscriptionId = item.SubscriptionId;
                string description = item.Description;
                string offeringId = item.OfferingId;
            }
            @if (subscriptionId == null)
            {
                if (offeringId == "RSVault")
                {
                    @Html.ActionLink("Buy " + description + " »", "../Subscriptions/CreateVault", "Subscriptions", new { @class = "btn btn-default" })
                }
                else
                {
                    string sorryMsg = "Offering not available for purchasing yet";
                    @sorryMsg;
                }
            }
            else
            {
                string useMsg = "You own this";
                @useMsg;<br>
                @Html.ActionLink("Use this service »", "Details", "Services", new { @class = "btn btn-primary btn-lg" })
                //string separator = " | ";
                //@Html.ActionLink("Edit", "Edit", new { id = item.Id })
                //@separator
                //@Html.ActionLink("Details", "Details", new { id = item.Id })
                //@separator
                //@Html.ActionLink("Delete", "Delete", new { id = item.Id })
            }
        </td>
    </tr>
}

</table>
